body {
    overflow: hidden;
    background-color: rgb(227, 129, 90);
    font-family: "Open Sans", sans-serif;
}
.menu {
    background-color: rgb(178, 76, 35);
    height: 9rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: solid 2px rgb(192, 118, 89);
}
.menu h2 {
    color: rgb(249, 230, 219);
    font-size: 3rem;
    margin-left: 5rem;

}
.menu input {
    height: 2.5rem;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 1rem;
}
.categoria{
   font-size: 1rem;
    color: #c49f61;
}
.menu button {
    margin-left: 2%;
    font-size: 2.5rem;
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
}.menu button:hover {
transition: 0.3s;
   color: rgb(173, 113, 67);
}
main {
    display: flex;
    gap: 2%;
}
img {
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    border: solid 1px;
}
.loader {
    display: none;
}
span {
    font-size: 2rem;
    color: rgb(132, 71, 46);
}
.Food {
    text-align: center;
    background-color: rgb(221, 132, 97);
    border-radius: 2rem;
    border: solid 1px rgb(149, 80, 38);
    margin-top: 2rem;
    margin-left: 2%;
    padding: 2rem;
    height: 150vh;
    width: 70%;
}
.favoritos {
    background-color: rgb(221, 132, 97);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    border: solid 1px rgb(149, 80, 38);
    width: 20%;
    margin-top: 2rem;
}
#favs {
    overflow-y: scroll;
    height: 68vh;
    max-height: 100%;
    border-radius: 2rem;
}
#favoritos img {
    width: 8rem;
    height: 8rem;
}
#favoritos article {
    min-width: auto;
    max-width: 100%;
    height: auto;
}
#favoritos article button {
    background-color: transparent;
    height: 50px;
    width: 50px;
    margin-top: 80%;

}
button {
    font-size: 1.5rem;
    border-radius: 2rem;
}
ul {
    background-color: rgb(195, 128, 102);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.btnagregar {
    width: 3rem;
    height: 4rem;
    margin-left: 50%;
    background-color: rgb(132, 71, 46);
}

#eliminar {
    font-size: 3rem;
    border-radius: 0;
    background-color: transparent;
    border: none;
}



h1 {
    font-size: 1.8rem;
    color: rgb(132, 71, 46);
    font-family: "Open Sans", sans-serif;
}


::-webkit-scrollbar {
    width: 2px;
}

.Food {
    font-size: 1.5rem;
}

#foodlList {
    overflow-y: scroll;
    max-height: 50%;
    border-radius: 2rem;
}

.Food ul {

    grid-column: span 2;
}
/* Estilos del formulario */

article{
    background-color: rgb(178, 76, 35);
padding: 2rem;
margin-top: 1rem;
border-radius: 2rem;
margin-left: 2rem;
}
#Titulo-form
{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(241, 182, 153);
}
.caja-form{
    background-color: rgb(178, 76, 35);
    height: 100vh;
    width: 70%;
    margin-left: 2%;
    margin-top: 2rem;
    border-radius: 2rem;
}
.formularito
{
    
background-color: transparent;
    padding: 40px 0;/*padding de 40px arriba y abajo y 0 a los lados*/
    border-radius: 2rem;
    border: solid 1px;
    margin-top: 5%;
    margin-left: 30%;
    height: 60%;
    width: 40%;
  

}
form{
width: 100%;
min-width: 100%;



   
}
form .grupo
{
    position: relative;
    
    margin-left: 2rem;
}
.input
{
    background: none;
    color: #e9d9be;
    font-size: 2rem;
    padding: 10px 10px 10px 5px;
    display: block;/*pone los elemtos uno debajo del otro*/
    width: 80%;
    border: none;
    
    border-bottom: 2px solid rgb(226, 161, 32);/*la linea de abajo*/
}
input:focus/*Cuando el cursor este sobre los inputs*/
{
    outline: none;
    color: rgb(183, 154, 154);
}
label
{
    color: black;
    font-size:2rem;
}
form #send
{
    display: block;
    
    background: linear-gradient(
        to right,
        #c49f61, 
        #d28e5a
    );
    padding: 10px;
    font-size: 2rem;
    color: rgb(57, 43, 24);
    border: none;
    border-bottom: none;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
    height: 50px;
}
 #casita
{
    color: rgb(57, 41, 28);
   font-size: 5rem;
   margin-left: 2rem;
   margin-top: 2rem;
  
  

}
#result{
    font-size: 2rem;

}
#produs{

font-size: 2rem;
width: 80%;
}
@media screen 
{
    @media(min-width:600px)
    {
        form
        {
            width: 500px;
            height: 600px;
        }
    }   
}

